.page-navigation {
  padding: 3.6rem 0;

  .content-wrapper {
    display: flex;
    align-items: center;
  }

  .nav-logo {
    width: 3.2rem;
    height: 3.2rem;
    background-color: #191919;
  }

  .nav-items {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    margin-left: auto;

    .nav-item {
      opacity: 0.7;
      transition: 0.2s opacity;

      &:hover {
        opacity: 1;
      }
    }
  }
}
