.student-row {
  display: flex;
  gap: 2.4rem;
  padding: 2.4rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  & > *:nth-child(1) {
    width: 200px;
  }

  & > *:nth-child(2) {
    width: 200px;
  }

  & > *:nth-child(3) {
    width: 200px;
  }
}
