html {
  font-size: 56.25%;
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  background: #fcfcfc;
  color: #191919;
  font-size: 1.5rem;
}

h1,
h2 {
  margin-bottom: 1.2rem;
}
